body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%; 
    margin-bottom: 10px; 
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
    background-color: #45a049; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

input[type=date] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#calendarContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.calendar {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    padding: 10px 0;
    background-color: #f0f0f0;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.day.empty {
    visibility: hidden;
}

.day.work {
    background-color: #FF7043; 
    color: white;
}

.day.off {
    background-color: #66BB6A;
    color: white;
}
